body {
  margin: 0;
  padding: 0;
}

.toolbar {
  &__countries {
    color: #000;
    background: rgba(0, 0, 0, 0.2);
    width: 79px;
    height: 38px;
    border-radius: 20px;
    float: right;
    margin: 37px 30px 0 0;
  }

  img {
    margin-top: 17px;
  }
}

.phone {
  display: flex;
  padding: 44px 0 0 25px;

  &__images {
    width: 44px;
    margin: -5px 0 0 -1px;

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  &__number {
    padding: 0 0 0 7px;
    font-weight: 600;
    letter-spacing: -0.6px;
  }
}

.links {
  &__chat {
    float: left;

    img {
      height: 15px;
      width: 20px;
      margin: 49px 5px 0 -17px;
    }
  }

  &__online_chat {
    font-size: 12px;
    color: green;
    letter-spacing: 0.6px;
    text-decoration: underline;
    margin: 49px 0 0 8px;
    display: inline-block;
  }

  &__advantages {
    font-size: 12px;
    letter-spacing: 0.8px;
    text-decoration: underline;
    display: inline-block;
    margin: 41px 0 0 35px;
  }

  &__support {
    font-size: 12px;
    letter-spacing: 0.8px;
    text-decoration: underline;
    display: inline-block;
    margin: 40px 0 0 25px;
  }

  &__entrance {
    color: #989797;
    background: rgba(42, 250, 0, 0.2);
    width: 95px;
    height: 28px;
    border-radius: 20px;
    float: right;
    margin: 38px 3px 0 0;
    padding: 11px 0 0 0;
    font-size: 14px;
    text-align: center;
  }
}

.free_calls {
  font-size: 11.3px;
  letter-spacing: -0.3px;
  padding: 2px 0 0 10px;
  float: left;
}

.dropbtn {
  padding: 5px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 40px;
}

.dropbtn {
  background: url(http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png)
    no-repeat 0;
  background-position-x: 0px;
  background-position-y: center;
  background-size: auto;
  width: 40px;
  background-position: 15px 7px;
  height: 100%;
  background-size: 30px 20px;
}

.dropbtn::after {
  background: rgba(0, 0, 0, 0)
    url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png)
    no-repeat scroll 50%;
  content: "";
  height: 16px;
  position: absolute;
  right: 0;
  top: 32%;
  width: 37px;
}

.dropdown-content a:first-child {
  background: url("http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png")
    no-repeat left center;
}

.dropdown-content a:last-child {
  background: url("https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png")
    no-repeat left center;
}

.dropdown-content a {
  color: black;
  padding: 2px 0 2px 25px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav .grid-container,
nav .grid-100,
nav .grid-35,
nav .grid-25,
nav .grid-40 {
  padding-left: 0;
  padding-right: 0;
}

.soft_bar {
  position: relative;
  background: url(/src/img/Слой_6.png) left 50% no-repeat,
    url(/src/img/bakgraund_fon.png) no-repeat center center;
  max-width: 100%;
  width: 100%;
  height: 553px;
  margin: 8px 0 0;
  display: grid;
  background-size: 378px 640px, cover;
  background-position: 220px 21px, 0 0;
}

/*
.soft_bar img{
  height: 10px;
  width: 10px;
  display: grid;
  background-image: 10px;
}
*/

.logo_sherlock {
  height: 636px;
  width: 391px;
  left: 212px;
  position: absolute;
  top: 21px;
}

.unlimited {
  &__hosting {
    color: #fff;
    font-size: 43px;
    display: inline-block;
    padding: 120px 0 0 220px;
    text-align: center;
    display: grid;
    padding: 115px 0 0 0;
    font-weight: 600;
    letter-spacing: -3.9px;
  }

  &__hosting_one {
    color: rgb(81, 255, 0);
    font-size: 43px;
    float: left;
    text-align: center;
    display: grid;
    font-weight: 600;
    letter-spacing: -3.9px;
  }

  &__hosting_two {
    color: #fff;
    font-size: 43px;
    text-align: center;
    display: grid;
    font-weight: 600;
    letter-spacing: -3.9px;
  }

  &__hosting_three {
    font-size: 20px;
    color: #fff;
  }

  &__services img {
    height: 50px;
    width: 50px;
  }
}

.features {
  padding: 0 0 0 10px;
}

.order {
  &__start {
    font-size: 50px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 80px 0 0 61px;
    letter-spacing: -2.9px;
    font-weight: normal;

    &--r {
      font-size: 44px;
      font-weight: 600;
      display: inline-block;
      padding: 5px 0 0 61px;
    }

    &--99 {
      font-size: 130px;
      padding: 0;
      display: inline-block;
      font-weight: 600;
    }

    &--ili {
      font-size: 25px;
      color: #fff;
      padding: 11px 0 0 52px;
      text-align: center;
      display: inline-block;
      justify-content: center;
      display: flex;
    }

    &--button_bottom {
      color: #fff;
      display: flex;
      padding: 2px 0 0 0;
      font-size: 18px;
      letter-spacing: -1.5px;
    }

    &--button_is_free {
      font-size: 17px;
      color: #fff;
      padding: 0;
      display: block;
      text-align: right;
      font-weight: 600;
      margin: -21px -1px 0 0;
      letter-spacing: -1.1px;
    }
  }

  &__button {
    background-color: #ffb84d;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 30px;
    width: 313px;
    height: 63px;
    position: relative;
    margin: 6px 0 0 38px;

    &--bottom {
      border: none;
      color: #fff;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 26px;
      border-radius: 30px;
      width: 313px;
      height: 52px;
      margin: 6px 0 0 38px;
      background: #cdd6db;
      margin: 17px 0 0 38px;
      display: inline-block;
    }
  }

  .sherlok16 {
    position: absolute;
    bottom: -338px;
    right: -340px;
  }
}

.capabilities {
  padding: 103px 0;

  &__sites {
    height: 78px;
    display: flex;
    padding: 0 0 0 0;
    margin: 0 0 0 -10px;

    &--text {
      font-size: 20px;
      padding: 20px 0 0 37px;
      letter-spacing: -0.3px;
      font-weight: 600;
    }
  }

  &__koshelek {
    height: 80px;
    display: flex;
    padding: 0 16px 0 21px;

    &--text {
      font-size: 20px;
      padding: 16px 0 0 28px;
      letter-spacing: -0.6px;
      line-height: 29.5px;
      font-weight: 600;
    }
  }

  &__test {
    height: 80px;
    display: flex;

    &--text {
      font-size: 20px;
      padding: 19px 0 0 28px;
      letter-spacing: -0.6px;
      line-height: 29.5px;
      font-weight: 600;
      color: green;
      text-decoration: underline;
    }
  }
}

.virtual_hosting {
  background-color: rgb(212, 212, 212);
  width: 100%;
  height: 223px;
}

.OStariffs {
  &__headline {
    padding-left: 94px;
    font-size: 40px;
    letter-spacing: -1.5px;
    font-weight: normal;
    padding: 52px 0 0 21px;
    text-align: center;
    margin: 0;
  }

  &__sherlock_one {
    padding: 0 0 0 7px;
    font-size: 35px;
    color: #97b254;
    font-weight: 600;
    letter-spacing: -2px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &--linux {
      padding: 59px 36px 0 0;
    }

    &--windows {
      padding: 56px 0 0 25px;
    }
  }

  &__icon {
    height: 63px;
  }

  &__text {
    padding: 0 0 4px 31px;
    color: black;
    font-size: 21px;

    &--windows {
      padding: 0 16px 0 17px;
    }
  }
}

.offers {
  position: relative;

  &__social {
    position: absolute;
    right: -293px;
    top: 69px;

    &-link {
      display: block;
      border-radius: 50%;
      overflow: hidden;
      margin: 7px;
    }

    &-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;

      &--vk {
        background-color: #5b7fa6;
      }

      &--fb {
        background-color: #415a99;
      }

      &--ok {
        background-color: #f38104;
      }

      &--tw {
        background-color: #00caff;
      }

      &--pencil {
        background-color: #97b254;
      }
    }

    &-icon {
      width: 50%;
      max-width: 100%;
      height: 50%;
    }
  }
}

.offer {
  margin: 77px 0 0 0;
  background-color: #f2f1f1;
  width: 100%;
  padding: 0 0 24px 0;

  &__body {
    text-align: center;
    color: #000;
    font-size: 13px;
    padding: 17px 0 0 5px;
    display: grid;
    letter-spacing: -0.6px;
  }

  &__header {
    color: #000;
    font-size: 34px;
    text-align: center;
    display: grid;
    padding: 29px 0 0 0;
    letter-spacing: -5px;
    border-top: 2px solid #7ca3cc;
    border-radius: 8px;

    &--pro {
      border-top: 4px solid #97b254;
      font-size: 59px;
      padding: 26px 9px 0 0;
    }

    &--right {
      border-top: 2px solid #f9a900;
      padding: 26px 18px 0 0;
    }
  }

  &__buy-button {
    border: none;
    color: #050505;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 49px;
    width: 313px;
    height: 52px;
    border: 2px solid #cdd6db;
    display: inline-block;
    margin: 54px 0 0 27px;

    &--centr {
      background: #97b254;
    }

    &--right {
      border: 2px solid #f9a900;
      margin: 13px 0 0 15px;
    }
  }

  &__buy-text {
    padding: 15px 0 0;
    font-size: 18px;
    color: cadetblue;

    &--centr {
      color: #e2e2e2;
      padding: 19px 23px 0 0;
    }

    &--right {
      color: #f9a900;
    }
  }

  &__ili {
    font-size: 15px;
    color: #4e4e4e;
    text-align: center;
    padding: 11px 0 0 8px;
    display: block;
  }

  &__aside {
    background-color: #e2e2e2;
    margin: 28px 0 0 0;
    position: relative;
  }

  .images_sherlosk {
    position: absolute;
    left: -527px;
    bottom: -82px;
  }

  .images_sherlosk img {
    height: 365px;
  }

  &__centr {
    background-color: #f4f4f4;
  }

  &__text-block {
    text-align: center;
    display: flex;
    font-size: 14px;
    color: 7ca3cc;
    padding: 14px 0 0 59px;
  }

  &__price {
    background-color: #ccc;
    margin: 21px 20px 0 25px;
    border-radius: 6px;
    text-align: center;
    padding: 10px 0 17px 0;

    &--ruble {
      padding: 0;
      margin: 0;
      display: inline-block;
      font-size: 20px;
    }

    &--quantity {
      padding: 0;
      margin: 0;
      font-size: 35px;
    }

    &--month {
      padding: 0;
      margin: 0;
      display: inline-block;
    }

    &--centr {
      background-color: #97b254;
      margin: 15px 26px 0 22px;
    }

    &--right {
      margin: 22px 32px 0 15px;
    }
  }

  &__list-info {
    margin: 18px 20px;
    padding: 0;
  }

  &__block-info {
    list-style-type: none;
    position: relative;
    border-bottom: 2px solid #4a4a4a;
    padding: 10px 0;
    padding-left: 35px;

    &::before,
    &::after {
      position: absolute;
      width: 3px;
      height: 9px;
      background-color: #97b254;
      left: 15px;
      top: 50%;
      content: "";
      transform: rotate(45deg) translate(-50%, 0);
    }

    &::after {
      height: 3px;
      left: calc(15px - 4px);
      top: calc(50% + 3px);
    }
  }

  &__functions {
    color: rgb(102, 102, 102);
    font-size: 16px;
    margin: 0;
  }

  &__ftraffic-figure {
    float: right;
    width: 35%;
    margin: 0;
    color: #989797;
    padding: 4px 14px 0 0;
    font-size: 14.7px;
  }

  &__ftraffic {
    color: rgb(255, 0, 0);
    float: right;
    width: 35%;
    margin: 0;
    padding: 4px 14px 0 0;
    font-size: 14.7px;
  }

  &__centr {
    margin: 50px 0 0 0;
    padding: 0 0 24px;
    -webkit-box-shadow: 0 7px 21px -3px #97b254;
    -moz-box-shadow: 0 7px 21px -3px #97b254;
    box-shadow: 0 7px 21px -3px #97b254;
  }
}

.optimized-platform {
  h3 {
    font-size: 40px;
    letter-spacing: -4.2px;
  }

  .row {
    padding: 64px 0 0 150px;
    display: inline-block;
    text-align: center;

    &__bottom {
      color: rgb(0, 0, 0);
      text-align: center;
      display: block;
      padding: 36px 5px 0 0;
      letter-spacing: -0.5px;
    }
  }

  &__modx {
    height: 100px;
    width: 250px;
    margin: 15px 0 0 -20px;
  }

  &__bitrix {
    height: 55px;
    width: 285px;
    padding: 39px 0 0 3px;
  }

  &__presta {
    height: 71px;
    width: 300px;
    padding: 30px 0 0 44px;
  }

  &__dle {
    height: 91px;
    width: 200px;
    padding: 32px 0 0 95px;
  }

  &__umicms {
    height: 91px;
    width: 275px;
    margin: 20px 0 0 -21px;
  }

  &__openkart {
    height: 52px;
    width: 265px;
    padding: 41px 0 0 60px;
  }

  &__netcat {
    height: 91px;
    width: 115px;
    padding: 21px 0 0 122px;
  }

  &__drupal {
    height: 95px;
    width: 111px;
    padding: 20px 0 0 97px;
  }

  &__joomla {
    height: 99px;
    width: 144px;
    padding: 15px 0 0 38px;
  }

  &__wordpress {
    height: 100px;
    padding: 16px 0 0 19px;
  }
}

.advantage {
  position: relative;
  background: url(/src/img/fon23.png) no-repeat center center;
  max-width: 100%;
  width: 100%;
  margin: 36px 0 0;
  padding: 27px 0 40px 0;

  h4 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    letter-spacing: -1px;
  }

  &__link {

  }

  &__functions-img {
    
  }

  &__img-container {
    display: flex;
    justify-content: center;
    padding: 22px 0 0 0;
  }


  &__name {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;

    &--bottom {
      font-size: 13px;
      color: #ffffff;
      padding: 18px 0 0 0;
    }
  }
}
